@charset "utf-8";
/* CSS DOCUMENT */
BODY{
	background-color: #E2B689;
}

UL{
	font-familiy: "Book Antiqua", "Palatino";
	font-size: 16px;
	padding: 10px;
	text-align:right;
	color: #693A0C;
	list-style-type: none;
}

UL LI{
	display: inline;
	font-size: 16px;
	padding: 17px;
}

IMG{
	width: 100%;
}

A{
	color: #693A0C;
	text-decoration: none;
	
}

a:hover{
	color: white;
}